@page "/users"
@using Blazorise
@using Blazorise.DataGrid

<div class="input-area">
    <div class="form-group">
        <label for="PageNumber">Page Number:</label>
        <InputNumber @bind-Value="sortModel.PageNumber" class="form-control" id="PageNumber" />
    </div>
    <div class="form-group">
        <label for="PageSize">Page Size:</label>
        <InputNumber @bind-Value="sortModel.PageSize" class="form-control" id="PageSize" />
    </div>
    <div class="form-group">
        <label for="SortBy">Sort by:</label>
        <InputText @bind-Value="sortModel.SortBy" class="form-control" id="SortBy" />
    </div>
    <div class="form-group">
        <label for="SearchValue">Search value:</label>
        <InputText @bind-Value="sortModel.SearchValue" class="form-control" id="SearchValue" />
    </div>
    <div class="form-group">
        <label for="Ascending">Ascending:</label>
        <InputCheckbox @bind-Value="sortModel.Ascending" id="Ascending" />
    </div>
    <div class="form-group">
        <label for="IncludeFields">Fields to include:</label>
        <InputText @bind-Value="sortModel.SearchValue" class="form-control" id="IncludeFields" />
    </div>
    <button class="btn btn-secondary user-full-width-button" @onclick="LoadUsers">Get Users</button> 
</div>

@typeparam TItem
@using System.Reflection

<DataGrid TItem="UserResponse"
          ReadData="LoadUsers"
          Data="@users"
          TotalItems="totalUsers"
          Sortable="true"
          Editable="false"
          Filterable="false"
          Class="PagedUsers.razor.css">
    <DataGridColumns>
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.UserName)" Caption="Username" Sortable="true" />
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.Email)" Caption="Email" Sortable="true" />
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.CreatedAt)" Caption="Creation time" Sortable="true" />
        <DataGridColumn TItem="UserResponse" Field="@nameof(UserResponse.PhoneNumber)" Caption="Phone number" Sortable="true" />
    </DataGridColumns>
</DataGrid>
